<% include partials/header %>
  <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="img/pep.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>In football, the worst things are excuses. Excuses mean you cannot grow or move forward</p>
                </div>
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2><span>Pep Guardiola</span></h2>
              </div>
            </div>
          </div>

          <div class="item">
            <img src="img/cristiano.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Talent without working hard is nothing</p>
                </div>
              </div>
             <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <h2>Cristiano Ronalo</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="img/zinedine.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              <div class="col-md-10 col-md-offset-1 align-items-center">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Life is full of regrets, but it doesn't pay to look back</p>
                </div> 
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>Zidedine Zidane</h2>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <div class="about">
    <div class="">
      <div class="text-center">
        <h2>Quaerat quod voluptate consequuntur </h2>
        <div class="col-md-10 col-md-offset-1">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quod voluptate consequuntur ad quasi, dolores obcaecati ex aliquid, dolor provident accusamus omnis dolorum ipsam. Voluptatem ipsum expedita, corporis facilis laborum asperiores
            nostrum! Amet porro numquam ratione temporibus quia dolorem sint lorem voluptates quasi mollitia.</p>
        </div>

      </div>
    </div>
  </div>
  <hr>


   <div class="gallery">
    <div class="text-center">
      <h2>LATEST Club NEWS</h2>
      
    </div>
    <div class="container">
      <div class="col-md-4">
		  <figure class="effect-marley">
		  <a href="https://www.mancity.com/news">
		  <img src="img/man city.jpg" alt="" class="img-responsive" />	  
          <figcaption>
            <h4>Manchester City</h4>
            <p>We will fight till the end</p>
          </figcaption>
			  </a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
		  <a href="https://www.liverpoolfc.com/news">
          <img src="img/liverpool.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Liverpool</h4>
            <p>You will never walk alone</p>
          </figcaption>
			</a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
		  <a href="https://www.fcbarcelona.com/en/football/first-team/news">
          <img src="img/barca.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Barcelona</h4>
            <p>One flag unites us as brothers</p>
          </figcaption>
			</a>
        </figure>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4">
        <figure class="effect-marley">
		<a href="https://www.juventus.com/en/news/">
          <img src="img/juventus.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Juventus</h4>
            <p> juve, tale of a great love</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
		<a href="https://fcbayern.com/en/news">
		<img src="img/bayern.jpg" alt="" class="img-responsive" />
			<figcaption>
				<h4>Bayern Munich</h4>
                <p>Star of the South</p>
			</figcaption>
			</a>
		  </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">.
		  <a href="https://www.tottenhamhotspur.com/news/">
          <img src="img/tott.jpeg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Tottehnam</h4>
            <p>we are loyal</p>
          </figcaption>
			</a>
        </figure>
      </div>
    </div>
  </div>

<% include partials/footer  %>