<% include partials/header %>
  <hr>

  <section id="about-us">
    <div class="container">
      <div class="text-center wow fadeInDown">
        <h2>Skills</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
      </div>
      <div class="skill-wrap clearfix">
        <div class="row">
          <div class="col-sm-3">
			  <a href="https://www.premierleague.com/fixtures">
            <div class="sinlge-skill wow fadeInDown">
              <div class="joomla-skill">
                <p><em>Premier league</em></p>
              </div>
            </div>
			  </a>
          </div>

          <div class="col-sm-3">
			  <a href="https://www.goal.com/en-in/serie-a/fixtures-results/1r097lpxe0xn03ihb7wi98kao">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <div class="html-skill">
                <p><em>serie A</em></p>
                <p></p>
              </div>
            </div>
			  </a>
          </div>

          <div class="col-sm-3">
			  <a href="https://www.skysports.com/la-liga-fixtures">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
              <div class="css-skill">
                <p><em>La liga</em></p>
              </div>
            </div>
			</a>
          </div>

          <div class="col-sm-3">
			  <a href="https://www.skysports.com/bundesliga-fixtures">
            <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
              <div class="wp-skill">
                <p><em>Bundesliga</em></p>
              </div>
            </div>
			  </a>
          </div>
        </div>
      </div>

      <!-- our-team -->
      <div class="team">
        <div class="text-center wow fadeInDown">
          <h2>Team of Day</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row clearfix">
          <div class="col-md-4 col-sm-6">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="media">
                
                <div class="media-body">
				<a href="https://www.bbc.com/sport/football/international-friendlies/scores-fixtures/2019-09">
                  <h4>International friendlies</h4>
					<h5>Fixtures</h5></a>

                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--/.media -->
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div>
          <!--/.col-lg-4 -->


          <div class="col-md-4 col-sm-6 col-md-offset-2">
            <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="media">
                <div class="media-body">
					<a href="https://www.bbc.com/sport/football/european-championship-qualifying/scores-fixtures/2019-09">
                  <h4>UEFA qualifiers</h4>
						<h5>Fixtures</h5></a>
                  <ul class="social_icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
              <!--/.media -->
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
          </div>
          <!--/.col-lg-4 -->
        </div>
        <!--/.row -->
        <!--/.row-->
      </div>
      <!--section-->
    </div>
    <!--/.container-->
  </section>