<% include partials/header %>
    <div class="slider">
    <div id="about-slider">
      <div id="carousel-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-xs">
          <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-slider" data-slide-to="1"></li>
          <li data-target="#carousel-slider" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <img src="img/johan.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Football is not about suffering. It's about enjoyment. Control the ball, be friendly with it, try to attack, try to score goals. Of course defending is part of it, but you can defend in a lot of ways</p>
                </div>
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2><span>Johan Cruyff</span></h2>
              </div>
            </div>
          </div>

          <div class="item">
            <img src="img/jurgen.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              
              <div class="col-md-10 col-md-offset-1">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>Football is a game you cannot play without making mistakes</p>
                </div>
              </div>
             <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="1.0s">
                <h2>Jurgen Klopp</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="img/lionel.jpg" class="img-responsive" alt="">
            <div class="carousel-caption">
              <div class="col-md-10 col-md-offset-1 align-items-center">
                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
                  <p>The day you think there is no improvements to be made is a sad one for any player</p>
                </div> 
              </div>
              <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
                <h2>Lionel Messi</h2>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>

        <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
      </div>
      <!--/#carousel-slider-->
    </div>
    <!--/#about-slider-->
  </div>
  <!--/#slider-->

  <div class="about">
    <div class="">
      <div class="text-center">
        <h2>Uncover latest football News and Rumours </h2>
        <div class="col-md-10 col-md-offset-1">
          <p>Life is a game of socce. You need goals, if there are no goals in your life then you can't win.
			 Visit our website for the latest happenings in the world of football(the worlds biggest religion.</p>
        </div>

      </div>
    </div>
  </div>
  <hr>


   <div class="gallery">
    <div class="text-center">
      <h2>LATEST NEWS</h2>
      
    </div>
    <div class="container">
      <div class="col-md-4">
        <figure class="effect-marley">
		<a href="https://www.express.co.uk/sport/football/1172442/Man-City-Aymeric-Laporte-injury-Liverpool-Premier-League">
          <img src="img/lap.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>key man out</h4>
            <p>Man City warned Aymeric Laporte’s injury could hand Liverpool Premier League crown</p>
          </figcaption>
			</a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/pogba.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>sweet marley</h4>
            <p>Marley tried to convince her but she was not interested.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/9.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>sweet marley</h4>
            <p>Marley tried to convince her but she was not interested.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
			<a href="https://www.manchestereveningnews.co.uk/sport/football/football-news/man-utd-news-marcus-rashford-16846597">
          <img src="img/ole.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Two leaders</h4>
            <p>Manchester United manager Ole Gunnar Solskjaer names two new leaders</p>
          </figcaption>
			</a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
			<a href="https://www.manchestereveningnews.co.uk/sport/football/football-news/man-utd-pogba-transfer-news-16845300">
          <img src="img/pogba.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Injured pogba</h4>
            <p>Manchester United give Paul Pogba injury and future updates</p>
          </figcaption>
			</a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
			<a href="https://www.sportskeeda.com/football/chelsea-news-frank-lampard-explains-rationale-behind-substitutions-against-sheffield-united">
          <img src="img/lampard.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>Why substitutions</h4>
            <p>Frank Lampard explains rationale behind substitutions against Sheffield United </p>
          </figcaption>
			</a>
        </figure>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4">
        <figure class="effect-marley">
			<a href="https://www.theguardian.com/football/2019/aug/31/juventus-napoli-serie-a-match-report">
          <img src="img/koulibaly.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>bad luck</h4>
            <p>Kalidou Koulibaly’s spectacular own goal hands Juventus win over Napoli</p>
          </figcaption>
			</a>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/12.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>sweet marley</h4>
            <p>Marley tried to convince her but she was not interested.</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="effect-marley">
          <img src="img/13.jpg" alt="" class="img-responsive" />
          <figcaption>
            <h4>sweet marley</h4>
            <p>Marley tried to convince her but she was not interested.</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>




<% include partials/footer  %>